                            /*      ALL  IDs        */
#main{
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url(images/background.jpg);
    background-size: 100%;
}
                            
#navbar{
    background-color: rgb(147, 239, 209);
}


#projects{
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 675px;
}


                            
                            
                            
                                                        /*      ALL  CLASSES    */
                            
.body{
    margin: 0;
}
                            
                            
.container{
    height: 680px; 
    display: flex;
    flex-direction: column;
    justify-content: center;                              
    }
                      
    
                         
                            
.link{
    margin: 30px 20px 0px;
    }

.myproj{
    padding-bottom: 50px;
}
                            
.name{
    font-family: 'Dancing Script', cursive;
    line-height: 2rem;
    color: white;
    }
                            
.pimg{
    height: 225px;
    width: 225px;
    margin-bottom: 20px;
    }
                            
.plinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    }
                            
.nlinks{
    margin-left: 20px;
    margin-right: 20px;
    }
                            
                            
                            
                            